<div class="card">
    {{> ../../shared/cardheader}}
    <div class="card-body">
        <h3 class="card-title">Search Pets</h3>
        <table id="petsTable" class="display" style="width:100%;">
            <thead>
                <tr>
                    <th></th>
                    <th>Pet Name</th>
                    <th>Pet Type</th>
                    <th>Pet Birthday</th>
                    <th>Pet Price</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
